
body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 250px;
    background: #f0f0f0;
    padding: 20px;
    min-height: 100vh;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    padding-top: 100px;
}

.products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

button:hover {
    background: #0056b3;
}


table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th {
    background: #d00000;
    color: white;
    padding: 10px;
    text-align: left;
}

td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background: #f5f5f5;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

th.sortable {
    cursor: pointer;
    user-select: none;
}

th.sortable:hover {
    background: #a30000;
}

thead th {
    cursor: pointer;
    user-select: none;
}

th#th_category:hover,
th#th_name:hover,
th#th_brand:hover,
th#th_price:hover,
th#th_quantity:hover,
th#th_date:hover {
    text-decoration: underline;
}

thead th span {
    font-size: 12px;
    margin-left: 5px;
    color: #ccc;
}

.counter {
    text-align: right;
    font-size: 13px;
    color: #888;
    margin-top: 6px;
    margin-right: 4px;
}