/* layout */
.orders-grid {
    display: flex;
}

/* button */
button {
    width: 100%;
    padding: 10px;
    background: #d00000;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background: #a30000;
}

/* file input */
.file-label {
    display: block;
    margin-bottom: 10px;
}
